@model CPICPP.Models.QuestionnaireResponse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>QuestionnaireResponse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserResponsesJson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserResponsesJson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionsAskedJson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionsAskedJson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MBTIType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MBTIType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionnaireQuestion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionnaireQuestion.QuestionnaireQuestionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.QuestionnaireResponseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
